@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size .4s ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent), linear-gradient(rgb(146, 0, 0) , rgb(146, 0, 0))
}

.link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* .video-responsive video {
  left: 0;
  top: 0;
  height: 100% !important;
  width: 100% !important;
  position: absolute;
}

div.html5-video-container {
  height: 100% !important;
}

 video.video-stream.html5-main-video {
  object-fit: cover !important;
   height:100% !important;
   top:0 !important;
}

.ytp-chrome-top.ytp-show-cards-title {
  display: none !important;
}

a.ytp-watermark.yt-uix-sessionlink {
  display: none !important;
} */